*{
    padding: 0;
    margin: 0;
}
.intro {
    display: flex;
    justify-content: space-between;
    width: calc(100vw-64.2px);
    background-color: #262c36;
    padding: 15px 30px;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-r{
    margin-left: 15px;
    line-height: 1.2;
    color: white;
}
.left-l{
    margin-top: 7px;
}
.right{
    display: flex;
    align-items: center;
}